.hero-carousel {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 1s ease-in-out;
  z-index: 1;
}

.hero-carousel::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.overlay-container {
  display: flex;
  align-items: center;     
  justify-content: center;    
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.overlay {
  text-align: center;
  color: white;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 5vh;
}


.overlay h1 {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.5vw;
  margin-bottom: 2rem;
}

.cta-btn {
  background-color: gold;
  color: #1E1E1E;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-btn:hover {
  background-color: rgb(253, 199, 0);
}

/* Responsive */
/* Tablet */
@media (max-width: 1240px) {
  .overlay-container {
    align-items: center;
    padding: 0 5vw;
    text-align: center;
  }

  .overlay {
    padding-bottom: 0;
  }

  .overlay h1 {
    font-size: 10vw;
  }

  .overlay p {
    font-size: 2.5vw;
  }

  .cta-btn {
    padding: 1vw 2vw;
    font-size: 2vw;
  }

  .hero-carousel {
    height: 70vh;
  }
}


/* Mobile */
@media (max-width: 480px) {
  .overlay h1 {
    font-size: 8vw;
  }

  .overlay p {
    font-size: 3.5vw;
  }

  .cta-btn {
    padding: 0.5rem 1.2rem;
    font-size: 3vw;
  }

  .hero-carousel {
    height: 65vh;
  }

  .overlay {
    padding-bottom: 3vh;
  }
}
